/* 북마크한 것들 보야주는 페이지 */

.card_container2 {
  width: 250px;
  height: auto;
  border: 0;
  position: relative;
}

.bookmark_link {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}

.delete_btn {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 10px;
  right: 10px;
}

.text1 {
  color: grey;
  font-size: 20px;
}