/* 메인페이지  */

.geo_icon {
  margin-top: 80px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  fill: #A0D468;
}

/* .background {
  background-color: beige;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;background-repeat: no-repeat;
  height: 800px;
} */

/* .box {
  background-color: rgba( 255, 255, 255, 0.5 );
} */