/* 게시글 작성.css */

.card {
  width: 800px;
  border-color: #A0D468;
  border-width: 2px;
}

.create_btn {
  margin-left: 88%;
  white-space: nowrap;
  background-color: #A0D468;
  border: 0;
  font-weight: bold;

}