/* 게시글 작성.css */

.card {
  width: 800px;
  border-color: #A0D468;
  border-width: 2px;
}

.create_btn {
  white-space: nowrap;
  background-color: #A0D468;
  border: 0;
  font-weight: bold;

}

.link3_btn {
  white-space: nowrap;
  color: white;
  border: 0;
  font-weight: bold;
  text-decoration: none;

}

.location_btn {
  white-space: nowrap;
  background-color: #A0D468;
  border: 0;
  font-weight: bold;

}

.location_text {
  color: rgb(77, 75, 75);
  font-size: 20px;
}

.search_bar2 {
  width: 80%;
  height: 40px;
  border: 0;
  background-color: #cef1ab;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.button2 {
  height: 40px;
  border: 0;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.button3 {
  height: 40px;
  border: 0;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.modal_body {
  z-index: 9999;
}